body {
    background-color: #F9F9F9;
}

.blog {
    font-family: 'Montserrat', sans-serif;
}

.blog-wrapper {
    max-width: 1484px;
    margin: 0 auto;
    background-color: #F9F9F9;
}

.title-search {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__title {
    margin: 0;
    font-size: 40px;
    font-weight: 800;
    color: #2D3448;
}

.search {
    position: absolute;
    width: 100%;
    align-items: flex-end;
}

.blog__search {
    position: relative;
    display: flex;
    align-items: center;
}

.search-form-2 {
    position: absolute;
    width: 100%;
}


i.fa {
    cursor: pointer;
    position: relative;
    left: 300px;
    top: 30px;
    z-index: 10000;
    opacity: 0.8;
}
input.search-form {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    border: none;
    background-color: #F9F9F9;
    border-bottom: 3px solid #EFEFEF;
    outline: none;
}

#container {
    max-width: 1484px;
    width: 100%;
}

.search-toggle {
    width: 100%;
    float: right;
}

.search-form {
    font-family: 'Montserrat', sans-serif;
}

.search-form::-webkit-input-placeholder {
    padding-left: 3px;
    font-size: 16px;
    color: #C7C7C7;
}

.search-form:-moz-placeholder {
    padding-left: 3px;
    color: #C7C7C7;
    font-size: 16px;
}

.search__icon {
    position: absolute;
    right: 0;
    cursor: pointer;
    background-color: #F9F9F9;
}


.blog-content {
    margin-top: 42px;
}

.navigation {}

.navigation__title {
    display: none;
}

.navigation__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.navigation__item {
    margin-right: 50px;
}

.navigation__item--active {
    padding-bottom: 10px;
    border-bottom: 4px solid #00B8FF;
}

.navigation__item--active > .navigation__link {
    color: #00B8FF;
}

.navigation__link {
    font-size: 20px;
    font-weight: 600;
    color: #2D3448;
    text-decoration: none;
    transition: color .1s ease-in-out;
}

.navigation__link:hover {
    color: #00B8FF;
}

.content-wrap {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.content {
    width: 65.7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content__item {
    position: relative;
    width: calc(1/2*100% - (1 - 1/2)*30px);
    display: block;
    margin-bottom: 30px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color .2s ease-in-out;
}

.content__item:hover {
    background-color: #FFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
}

.author_block {
    opacity: 0;
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 18px 27px 0;
    left: 0;
    right: 0;
    z-index: 2;
    transition: all .1s ease-in-out;
}

.author-wrap {
    display: flex;
    align-items: center;
}

.content__item:hover .author_block {
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo_author {
    width: 37px;
    height: 37px;
    margin-right: 14px;
    border-radius: 50%;
    overflow: hidden;
}

.name-author {
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
}

.reading-time {
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
}

.reading-time::before {
    content: url("./img/ellipse.svg");
    margin-right: 4px;
}

.text-block {
    display: flex;
    color: #FFF;
}

.content__bg {
    position: relative;
    height: 234px;
    overflow: hidden;
    border-radius: 4px;
}

.obfuscation {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .1s ease-in-out;
    background: linear-gradient(180deg, #0E2450 0%, #0D5E7C 18.23%, rgba(0, 133, 183, 0.382857) 43.74%, rgba(3, 141, 192, 0.37) 43.75%, rgba(255, 255, 255, 0) 100%);
}

.content__item:hover .obfuscation {
    opacity: 1;
    
}

.content__img {
    width: 100%;
}

.content__block {
    padding: 25px 18px 40px;
}

.content__decision {
    display: flex;
    justify-content: space-between;
}

.decision__tite {
    font-weight: 500;
    color: #00AEEF;
}

.decision__date {
    font-size: 16px;
    font-weight: 500;
    color: #C7C7C7;
}

.content__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #2D3448;
}

.content_paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #6B6B6B;

    display: -webkit-box;
    -webkit-line-clamp: 3; /* количество строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content__subtitle {
    padding: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #2D3448;
    background: rgba(196, 196, 196, 0.11);
    border-radius: 4px;
}


.solution {
    width: 34.3%;
}

.sulution-wrap {
    margin-left: 31px;
}

.solution__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.solution__item {
    margin-bottom: 15px;
}

.solution__item:hover .solution__link {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
}

.solution__link {
    display: inline-block;
    padding: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2D3448;
    background-color: #FFF;
    text-decoration: none;
    transition: box-shadow .2s;
}

.solution__btn {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 700;
    color: #00AEEF;
    border: 2px solid #00AEEF;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
}

.mailling {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    background-color: #EEF7FF;
}

.mailling-wrap {
    max-width: 825px;
    width: 100%;
    margin-top: 68px;
    margin-bottom: 68px;
    background-color: #FFF;
}

.bg-logo-wrapper {
    margin-top: -50px;
    display: flex;
    justify-content: center;
}

.bg-logo-wrapper2 {
    width: 101px;
    height: 101px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F7FA;
    border-radius: 50%;
}

.bg-logo-wrapper3 {
    width: 79px;
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border-radius: 50%;
}

.mailling__title {
    margin: 21px 0 13px;
    text-align: center;
    font-weight: 800;
    color: #2D3448;
}

.mailling__title2 {
    margin-left: 8px;
    text-transform: capitalize;
    color: #00B8FF;
}

.mailling__content {
    margin-top: 18px;
    margin-bottom: 18px;
}

.mailling__p {
    margin: 3px 0;
    text-align: center;
    font-weight: 500;
    color: #6B6B6B;
}

.mailling__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mailling__input {
    /* min-width: 364px; */
    max-width: 364px;
    width: 100%;
    padding: 16px 20px;
    border: 1px solid #C7C7C7;
    border-radius: 4px;
    outline: none;
}

.mailling__input::-webkit-input-placeholder {
    font-size: 16px;
    color: #C7C7C7;
}

.mailling__input:-moz-placeholder {
    font-size: 16px;
    color: #C7C7C7;
}

.mailling__label {
    max-width: 352px;
    margin-top: 9px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    line-height: 15px;
    color: #C7C7C7;
}

.mailling__sbmt {
    margin-top: 28px;
    margin-bottom: 36px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    text-transform: capitalize;
    background-color: #00B8FF;
    color: #FFF;
    cursor: pointer;
}

.mailling__sbmt-icon {
    margin-left: 10px;
}

.accordion {
    background-color: transparent;
    color: #2D3448;
    cursor: pointer;
    padding: 18px 18px 18px 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-bottom: 0.5px solid #C7C7C7;
    text-align: left;
    text-transform: capitalize;
    outline: none;
    transition: 0.4s;
}
  
.accordion:after {
    content: url("./img/arrow-open.png");
    color: #777;
    font-weight: bold;
    float: right;
    margin-top: -4px;
    transition: all .3s;
}
  
.active:after {
    content: url("./img/arrow-open.png");
    transform: rotate(-180deg);
    margin-top: 0;
}
  
.panel {
    max-height: 1321px;
    margin-top: 36px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

/* detail blog */
.detail {
    max-width: 975px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.detail__title {
    margin: 0;
    font-size: 40px;
    font-weight: 800;
    color: #2D3448;
}

.detail__subtitle {
    max-width: 858px;
    margin: 0;
    margin-top: 42px;
    font-size: 30px;
    font-weight: 600;
    color: #2D3448;
}

.detail__author-wrap {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.author-desc {
    margin-left: 31px;
}

.detail__name-author {
    margin: 0;
    font-weight: 600;
}

.author__date-wrap {
    display: flex;
    margin-top: 7px;
}

.detail__date {
    margin: 0;
    margin-right: 24px;
}

.detail__reading-time {
    margin: 0;
}

.detail__reading-time::before {
    content: url("./img/ellipse.svg");
    margin-right: 4px;
}

.detail__img-wrap {
    margin-top: 40px;
}

.detail__img {
    width: 100%;
}

.content__subtitle-wrap {
    margin-top: 11px;
}

.content__subtitle--sub {
    display: inline-block;
}

.border {
    margin-top: 60px;
    border: 3px solid #F4F4F4;
}

.detail-solial {
    margin-top: 36px;
    display: flex;
}

.detail-solial__bg {
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.detail-solial__bg--vk {
    background-color: #7294C7;
}

.detail-solial__bg--insta {
    background: linear-gradient(43.94deg, #EEA054 16.16%, #D64763 50.11%, #B62A99 83.68%);
}

.detail-solial__bg--face {
    background-color: #4E6297;
}

.detail-solial__bg--teleg {
    background-color: #2F89CE;
}

.detail-solial__bg--youtube {
    background-color: #F40000;
}

.detail-solial__bg--in {
    background-color: #0A66C2;
}

.news {
    max-width: 975px;
    margin: 0 auto;
}

.news__title {
    font-weight: 600;
    font-size: 40px;
    color: #2D3448;
}



@media (max-width: 1024px) {
    .blog-wrapper {
        margin: 0 25px;
    }

    .search {
        display: none;
    }

    .content {
        width: 100%;
    }

    .content__item {
        width: calc(1/2*100% - (1 - 1/2)*20px);
        margin-bottom: 20px;
    }

    .solution {
        display: none;
    }

    .mailling-wrap {
        max-width: 764px;
        width: 100%;
        margin-top: 47px;
        margin-bottom: 47px;
    }
}

@media (max-width: 768px) {
    .blog-wrapper {
        margin: 0 20px;
    }

    .content__item {
        width: calc(1/2*100% - (1 - 1/2)*18px);
        margin-bottom: 18px;
    }

    .content__item:hover {
        background-color: transparent;
        box-shadow: none;
    }

    .content__bg {
        max-height: 175.5px;
    }

    .content__block {
        padding: 18px 0;
    }

    .decision__date {
        font-size: 14px;
    }

    .content_paragraph {
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }

    .content__subtitle {
        font-size: 14px;
    }

    .mailling-wrap {
        margin-bottom: 42px;
    }
}

@media (max-width: 600px) {
    .navigation {
        position: relative;
    }

    .navigation__title {
        display: block;
        padding: 15px 20px;
        font-size: 16px;
        font-weight: bold;
        border: 2px solid #C7C7C7;
        border-radius: 4px;
        color: #6B6B6B;
        cursor: pointer;
        position: relative;
    }

    .navigation__title::after {
        position: absolute;
        content: url("./img/arrow.svg");
        right: 20px;
    }

    .navigation.open > .navigation__title {
        border-radius: 4px 4px 0 0;
    }

    .navigation.open > .navigation__title::after {
        transform: rotate(180deg);
    }

    .navigation__list {
        flex-direction: column;
        border: 2px solid #C7C7C7;
    }

    .navigation__item--active {
        padding-bottom: 0;
        border-bottom: none;
    }
    
    .navigation__list {
        display: none;
        padding: 15px 24px;
    }

    .navigation.open .navigation__list {
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        border-top: none;
        border-radius: 0 0 4px 4px;
        background-color: #F9F9F9;
    }

    .navigation__link {
        display: block;
        padding: 8px 0;
        font-size: 16px;
    }

    .navigation__item {
        margin-right: 0;
    }
}

@media (max-width: 530px) {
    .blog-wrapper {
        margin: 0 15px;
    }

    .content__item {
        width: 100%;
    }

    .decision__date {
        display: none;
    }

    .mailling-wrap {
        margin-top: 71px;
        margin-bottom: 56px;
    }

    .mailling__input {
        max-width: 248px;
    }

    .mailling__sbmt {
        margin-bottom: 92px;
    }
}