body {
    background-color: #C7C7C7;
    background-color: #eee;
}

.blog {
    font-family: 'Montserrat', sans-serif;
}

.blog-wrapper {
    max-width: 1484px;
    margin: 0 auto;
    background-color: #fff;
}

.title-search {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__title {
    margin: 0;
    font-size: 40px;
    font-weight: 800;
    color: #2D3448;
}

.search {
    position: absolute;
    width: 100%;
    align-items: flex-end;
}

.blog__search {
    position: relative;
    display: flex;
    align-items: center;
}

.search-form-2 {
    position: absolute;
    width: 100%;
}



i.fa {
    cursor: pointer;
    position: relative;
    left: 300px;
    top: 30px;
    z-index: 10000;
    opacity: 0.8;
}
input.search-form {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    border: none;
    border-bottom: 3px solid #EFEFEF;
    outline: none;
}

#container {
    max-width: 1484px;
    width: 100%;
}

.search-toggle {
    width: 100%;
    float: right;
}

.search-form {
    font-family: 'Montserrat', sans-serif;
}

.search-form::-webkit-input-placeholder {
    padding-left: 3px;
    font-size: 16px;
    color: #C7C7C7;
}

.search-form:-moz-placeholder {
    padding-left: 3px;
    color: #C7C7C7;
    font-size: 16px;
}

.search__icon {
    position: absolute;
    right: 0;
    cursor: pointer;
    background-color: #fff;
}
